<header>
  <div id="fixphone">
    <a href="tel:0185538974" class="fixphone"><i class="fa fa-phone" aria-hidden="true"></i> 01 85 53 89 74</a>
  </div>
  <div class="top">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:0185538974">01 85 53 89 74</a></p>

          <p><i class="fa fa-clock-o" aria-hidden="true"></i> 9h – 18h&nbsp; </p>
        </div>
        <div class="col-sm-6 text-right">
          <ul class="social">
            <li><a class="fa fa-facebook"></a></li>
            <li><a class="fa fa-twitter"></a></li>
            <li><a class="fa fa-youtube"></a></li>
            <li><a class="fa fa-instagram"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="menu">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 logo-container">
          <div class="logo-certif">
            <img src="./assets/img/logo-veranda.jpg" class="img-responsive" alt="logo menuisier certifié"
              style="width: 70px;">
            <img src="./assets/img/logo-veranda2.jpg" class="img-responsive" alt="logo menuisier certifié 2"
              style="width: 140px;">
          </div>
          <a href="./index.html">
            <div class="logo">
              <img src="./assets/img/logoRN.png" style="height: 150px; width: auto; object-fit: cover;"
                alt="Logo veranda blanc">
            </div>
          </a>
        </div>
        <div class="col-sm-8">
          <nav class="">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="">
                <li><a class="active" href="./index.html"> Accueil</a> </li>

                <li class="dropdown ">
                  <a class="dropdown-toggle"> Vérandas </a>
                  <ul class="dropdown-menu">
                    <li class=""><a href="./Verandas-victoriennes.html">&gt; Vérandas victoriennes </a></li>
                    <li class=""><a href="./Verandas-victoriennes-toiture-aretier.html">&gt; Vérandas victoriennes toiture
                        arêtier</a></li>
                    <li class=""><a href="./Verandas-en-appui.html">&gt; Vérandas en appui </a></li>
                    <li class=""><a href="./Verandas-rayonnantes.html">&gt; Vérandas rayonnantes </a></li>
                    <li class=""><a href="./Verandas-en-L-rayonnantes.html">&gt; Vérandas en L rayonnantes </a></li>
                    <li class=""><a href="./Verandas-en-pan-coupe.html">&gt; Vérandas en pan coupé </a></li>
                    <li class=""><a href="./Verandas-a-toiture-plate.html">&gt; Vérandas à toiture plate</a></li>
                  </ul>
                </li>

                <li><a class="" href="./Nos-realisations.html">Nos réalisations </a></li>
                <li><a class="" href="./avis.html">Avis client </a></li>


                <li><a class="" href="./contact.html">Contact </a></li>
                <li class="devis"><a class=" button" href="./devis.html">Devis en ligne&nbsp; </a></li>

              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>

</header>